#window_container {
    position: relative;
    height: 100%;
    width: 580px;
    margin: 20px auto 15px;
    left: 0;
    right: 0;
}

#window_frame {
    /*position:absolute;*/
    background: #fcfff1;
    overflow:hidden;
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0px 0px 7px #000;
    -webkit-box-shadow: 0px 0px 7px #000;
    box-shadow: 0px 0px 7px #000;
}

#window_container p {
    color: #346a2e;
    padding: 10px 20px 20px 20px;
    text-align: center;
    font-size: 17px;
}

#window_frame h4 {
    padding-left: 45px;
}

.form_labels {
    padding-left: 38px;
    color: #1a6e34;
    margin-top: -20px;
}

.form_labels input, select {
    width: 465px;
    height: 30px;
    border: 1px solid #469d6a;
    margin-bottom: 10px;
    font-size: 14px;
}

.form_labels input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: none;
    margin-bottom: 0px;
    padding-bottom: 10px;
    vertical-align: text-bottom;
}

.form_labels input#button {
    font: 100% Lucida Sans, Verdana;
    width: -moz-min-content;
    width: min-content;
    height: auto;
    margin-bottom: 0;
}

.button_box {
    font: 100% Lucida Sans, Verdana;
    margin: 15px;
    text-align: center;
}
.link_box {
    font: 100% Lucida Sans, Verdana;
    padding: 10px;
    margin: 15px;
    text-align: center;
}